@page
@model IndexModel

@*@using ProjectXBusiness

@inject IProjectXBusiness _projectXBusiness*@

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Everything X</h1>
    <h2>@Model.TestInt</h2>
    <div style="color: transparent;"> Made by Mitchell Spurgat</div>
</div>


